a {
  cursor: pointer;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.container {
  margin-top: 15px;
  max-width: 1000px;
}
.container__tab {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.mat-sort-header-container {
  align-items: center;
}
table {
  width: 400px;
}

th.mat-sort-header-sorted {
  color: black;
}
.header {
  display: flex;
  font-size: 32px;
  align-items: center;
  margin: 20px 4px 25px 20px;
}
.next {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  width: 100%;

  button {
    padding: 5px;
    font-size: 30px;
    width: 80%;
  }
}

mat-expansion-panel.mat-expansion-panel {
  margin-bottom: 10px;
  .mat-expansion-panel-header-title {
    font-size: 18px;
  }
  button {
    width: 200px;
    font-size: 16px;
    padding: 5px;
  }
}

.dialog-actions {
  button {
    width: 100%;
    margin-bottom: 5px;
  }
}
.mat-list-item-content {
  font-size: 18px;
}
