<mat-card>
  <mat-card-header>
    <mat-card-title>{{ test.title }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>
      {{ test.description }}
    </p>
  </mat-card-content>
</mat-card>
<br />
<div class="action-buttons" *ngIf="!isEdit; else save">
  <button mat-raised-button color="primary" (click)="clickAdd()">Add</button>
  <button
    mat-flat-button
    color="accent"
    [disabled]="!clickedRows.size"
    (click)="clickEdit(clickedRows)"
  >
    Edit
  </button>
  <button
    mat-flat-button
    color="warn"
    [disabled]="!clickedRows.size"
    (click)="clickDelete(clickedRows)"
  >
    Delete
  </button>
  <span>*To change items, click on rows to select </span>
</div>
<ng-template #save>
  <div class="action-buttons">
    <button
      mat-flat-button
      color="accent"
      [disabled]="!clickedRows.size"
      (click)="clickSave(clickedRows)"
    >
      Save
    </button>
  </div>
</ng-template>

<table mat-table [dataSource]="questions" class="mat-elevation-z8 demo-table">
  <!-- title Column -->
  <ng-container matColumnDef="question">
    <th mat-header-cell *matHeaderCellDef>Question</th>
    <td mat-cell *matCellDef="let element">
      <mat-form-field
        class="example-form-field"
        appearance="fill"
        *ngIf="isEdit"
      >
        <input matInput type="text" [(ngModel)]="element.question" />
      </mat-form-field>
      <div class="add" *ngIf="!isEdit && newRows.has(element)">
        <mat-form-field class="example-form-field" appearance="fill">
          <input matInput type="text" [(ngModel)]="element.question" />
        </mat-form-field>
        <button
          mat-flat-button
          color="accent"
          [disabled]="!clickedRows.size"
          (click)="onRowSave(element.id)"
        >
          Save
        </button>
      </div>

      <p *ngIf="!isEdit && !newRows.has(element)">
        {{ element.question }}
      </p>
    </td>
  </ng-container>

  <!-- Description Column -->
  <ng-container matColumnDef="answers">
    <th mat-header-cell *matHeaderCellDef>Answers</th>
    <td mat-cell *matCellDef="let element">
      <button
        mat-flat-button
        *ngIf="!isEdit && !newRows.has(element)"
        color="primary"
        (click)="change(element)"
      >
        Answers
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr
    mat-row
    (click)="clickedRows.add(row)"
    [class.demo-row-is-clicked]="clickedRows.has(row)"
    *matRowDef="let row; columns: displayedColumns"
  ></tr>
</table>
