<mat-toolbar>
  <mat-toolbar-row class="toolbar">
    <span class="nav-item nav-link" routerLink="/">Home</span>
    <span *ngIf="user" class="nav-item nav-link" routerLink="/categories"
      >Categories</span
    >
    <span
      class="nav-item nav-link"
      *ngIf="user?.admin"
      routerLink="/admin"
      style="font-weight: 900; color: red"
      >Setting</span
    >

    <span *ngIf="user" class="nav-item nav-link" (click)="logout()"
      >Logout</span
    >
    <span class="example-spacer"></span>

    <span class="nav-item nav-link" routerLink="/categories">{{
      user?.username
    }}</span>
    <mat-icon
      *ngIf="user?.id"
      class="example-icon"
      aria-hidden="false"
      aria-label="Example user verified icon"
      >verified_user</mat-icon
    >
  </mat-toolbar-row>
</mat-toolbar>
<!-- main app container -->

<router-outlet></router-outlet>
