<div class="container">

  <div *ngIf="!resultPage; else result">
    <div *ngIf="questionsLength > 0 else nullList">
    <div class="alert alert-info info">
      <div class="info__title">{{ test?.title }}</div>
      <div class="info__questions">
        <mat-icon>help</mat-icon> {{ count }} / {{ questionsLength }}
      </div>
      <div class="info__timer">
        <mat-icon>alarm_on</mat-icon> {{ timeDisplay }}
      </div>
    </div>
    <br />
    <mat-card>
      <mat-card-title>{{ question.question }}</mat-card-title>
      <mat-card-actions>
        <mat-radio-group
          aria-labelledby="example-radio-group-label"
          class="example-radio-group"
        >
          <mat-selection-list #answer [multiple]="false">
            <div *ngFor="let answer of questionAnswers; index as i;">
            <mat-list-option

              [ngClass]="getClass(answer)"
              (click)="onClick(answer)"
            >
              <mat-list-item role="listitem"
                ><mat-radio-button [value]='i'>{{
                  answer.answer
                }}</mat-radio-button></mat-list-item
              >
            </mat-list-option>
            </div>
          </mat-selection-list>
        </mat-radio-group>
      </mat-card-actions>
    </mat-card>
    <div class="progressbar">
      <div *ngFor="let i of progress" [class]="i"></div>
    </div>
    </div>
  </div>

  <ng-template #nullList>
    <mat-card>
      <mat-card-title>list is null </mat-card-title>
      <button  mat-raised-button color="accent" routerLink="/admin">
        add new
      </button>
      <button mat-raised-button color="primary" routerLink="/categories">
        go Back
      </button>
    </mat-card>
  </ng-template>
  <ng-template #result>
    <result-page [score]="userScore" [progress]="progress"></result-page>
  </ng-template>
</div>
